<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
    <title>ACP Controle Times</title>

    <!-- 'viewport' is used by bootstrap to respond to device size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript:  JQuery from a content distribution network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap includes javascript and css  (must follow jquery) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- moment.js is the JavaScript equivalent of arrow.py -->
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>

    <!-- Our own style sheet -->
    <link rel="stylesheet" href="/static/css/calc.css" />

</head>
<body>

<div class="container">
    <h1>Dashboard</h1>
    <p>You are currently logged in as {{ name }}</p>
    <p>This would not be a good website if you could not calculate things.... Please do that <a href="/">here</a>. This will allow you to calculate all of the previous things related to brevets. (You must be logged in)</p>
    <a href='logout'>Logout</a>


</div>
</body>
</html>