<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
    <title>ACP Controle Times</title>

    <!-- 'viewport' is used by bootstrap to respond to device size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript:  JQuery from a content distribution network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap includes javascript and css  (must follow jquery) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- moment.js is the JavaScript equivalent of arrow.py -->
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>

    <!-- Our own style sheet -->
    <link rel="stylesheet" href="/static/css/calc.css" />

</head>
<body>

<div class="container">
    <h1>Login</h1>
    <form action="/login" method="post">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="form-group">
        <p>Email</p>
        {{ form.email(class_="form-control") }}
        </div>
        <div class="form-group">
        <p>Password</p>
        {{ form.password(class_="form-control") }}
        </div>
        <div class="form-group">
        <p>Remember Me</p>
        {{ form.remember(class_="form-control") }}
        {{ form.hidden_tag() }}
        </div>
        <div class="form-group">
        <input type="submit" class="btn btn-primary form-control" value="Login">
        </div>
    </form>
    <p>
        <a href="/register">Register</a>
    </p>
</div>
</body>
</html>